{% extends "templates/web.html" %}
{% import "templates/includes/federated.jinja" as macros %}

{% block head_include %}{% endblock %}
{% block header %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->
{{ macros.show_noscript_message() }}

{{ macros.fv_header(
	title="La fédération Badge Inter-Lieux",
	subtitle="Trouvez un lieu près de chez vous pour obtenir votre badge.",
	link_text="Comment ça marche ?",
	link_href="/Apropos",
) }}

{# `result` is provided by the list context #}
{% call(row_html) macros.fv_venue_list(result) %}
	{{ row_html }}
{% endcall %}
{% endblock %}

{% block script %}
<!-- <script type="text/javascript" src="/assets/js/control.min.js"></script> -->
<script type="text/javascript" src="/assets/frappe/js/frappe/form/formatters.js"></script>
<script>{% include "templates/includes/login/federated_login.js" %}</script>
{% endblock %}
