{% extends "templates/web.html" %}
{% import "templates/includes/bil.jinja" as bil %}

{% block head_include %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block page_content %}
{% if venue %}
<div class="fv-details">
	<div class="fv-details__background">
		<header class="fv-details__header" style="min-height: 200px;">
			{# Back button #}
			<button class="btn btn-primary-light p-2 rounded-circle fv-details__back-button" onclick="window.history.back();"
				aria-label="{{ _('Back') }}">
				<svg class="es-icon es-line icon-md">
					<use href="#es-line-arrow-left"></use>
				</svg>
			</button>

			{# Logo #}
			{% if venue.logo %}
			<div class="rounded-circle shadow-lg fv-details__logo">
				<img src="{{ venue.logo | e }}" alt="" />
			</div>
			{% endif %}

			{# Image carousel #}
			{% if venue.about_image %}
			<div class="fv-details__container fv-details__carousel">
				<img src="{{ venue.about_image | e }}" alt="" class="shadow-sm" />
			</div>
			{% else %}
			<div style="height: 128px;"></div>
			{% endif %}

			<div class="fv-details__container">
				<h1 style="margin: 0; padding-top: 2em; padding-bottom: 1em;">{{ venue.label | e }}</h1>
			</div>
		</header>
	</div>

	<div class="fv-details__main fv-details__container">
		<div class="fv-details__about">
			{%- if venue.about_description -%}
			<section>
				<h2 class="bil-small-title">À propos du lieu</h2>
				<div class="fv-details__description">
					{{ venue.about_description | safe }}
				</div>
			</section>
			{%- endif -%}

			{%- if venue.about_equipments -%}
			<section>
				<h2 class="bil-small-title">Équipements</h2>
				<div class="fv-details__equipments" style="grid-template-rows: repeat({{ (venue.about_equipments | length / 2 + 0.5) | int }}, 1fr);">
					{% for equipment in venue.about_equipments %}
					<div>
						{% if equipment.icon %}
						{{ bil.smart_icon(equipment.icon, size="md", size_px=20) }}
						&nbsp;
						{% else %}
						{{ bil.smart_icon("dot", size="md", size_px=20) }}
						&nbsp;
						{% endif %}
						{{ equipment.text | e }}
					</div>
					{% endfor %}
				</div>
			</section>
			{% endif %}

			{%- if venue.about_activities %}
			<section>
				<h2 class="bil-small-title">Activité des membres</h2>
				<ul class="bil-tags list-unstyled">
					{# Split by comma or newline #}
					{% set tags = venue.about_activities.replace("\n", ",").split(",") | map('trim') %}
					{% for tag in tags %} {# Remove empty tags #}
					{% if tag %}<li class="bil-tag">{{ tag | e }}</li>{% endif %}
					{% endfor %}
				</ul>
			</section>
			{%- endif -%}
		</div>

		<section class="fv-details__aside bil-card bil-card--small">
			<img src="/images/get-in-touch.svg" alt="" class="img-fluid"
				style="max-width: 250px; margin: auto; padding: 0 25px; border-bottom: 2px solid var(--bil-grey-border);" />


			{% if venue.phone or venue.email or venue.base_url %}
			<div>
				<h2 class="bil-small-title bil-smal.bil-small-title--noborder">Infos pratiques</h2>
				<dl class="bil-box">
					{# {{ bil.dl_item('Référent⋅e', 'Prénom NOM', '/images/icons/user.svg', false) }} #}

					{% if venue.phone %}
						{% set el = '<a style="color:inherit" href="tel:' ~ venue.phone ~ '">' ~ venue.phone ~ '</a>' %}
						{{ bil.dl_item(_("Phone"), el, "/images/icons/phone.svg") }}
					{% endif %}
					{% if venue.email %}
						{% set el = '<a style="color:inherit" href="mailto:' ~ venue.email ~ '">' ~ venue.email ~ '</a>' %}
						{{ bil.dl_item(_("Email"), el, "/images/icons/mail.svg") }}
					{% endif %}
					{% if venue.base_url %}
						{% set clean_url = venue.base_url | replace('http://', '') | replace('https://', '') | replace('www.', '') | trim('/') %}
						{% set el = '<a style="color:inherit" href="' ~ venue.base_url ~ '">' ~ clean_url ~ '</a>' %}
						{{ bil.dl_item(_("Website"), el, "/images/icons/link.svg") }}
					{% endif %}
				</dl>
			</div>
			{% endif %}

			{% if venue.about_schedule or venue.address or venue.about_access or venue.about_accessibility %}
			<div>
				<h2 class="bil-small-title bil-smal.bil-small-title--noborder">Horaires et accès</h2>
				<dl class="bil-box">
					{% if venue.about_schedule %}{{ bil.dl_item('Horaires', nl2br(venue.about_schedule), '/images/icons/clock.svg') }}{% endif %}
					{% if venue.address %}{{ bil.dl_item(_('Address'), nl2br(venue.address), '/images/icons/pin.svg') }}{% endif %}
					{% if venue.about_access %}{{ bil.dl_item('Transports en commun', nl2br(venue.about_access), '/images/icons/tram.svg') }}{% endif %}
					{% if venue.about_accessibility %}{{ bil.dl_item('Accessibilité', nl2br(venue.about_accessibility), '/images/icons/wheelchair.svg') }}{% endif %}
				</dl>
			</div>
			{% endif %}
		</section>
	</div>

	{% if venue.about_cards %}
	<div style="background-color: var(--bil-grey-background);">
		<section class="fv-details__wide-container fv-details__services">
			<h2 style="margin: auto; text-align: center;">
				Services proposés &amp; modalités d'accès
			</h2>

			<div class="bil-cards">
				{% for card in venue.about_cards %}
				{% call bil.bil_card_with_logo(card.title, subtitle=card.subtitle, logo=card.logo) %}
					<ul class="list-unstyled">
						{% for item in card.list %}
						<li>{{ bil.li_item((item.text | e), item.icon or card.list_icon) }}</li>
						{% endfor %}
					</ul>
					{% if card.footer %}{{ card.footer | safe }}{% endif %}
				{% endcall %}
				{% endfor %}
			</div>
		</section>
	</div>
	{% endif %}
</div>

<style>
	dl {
		margin: 0px;
	}

	dl>div {
		padding: 5px;
	}

	dl :is(dt, dd) {
		padding: 0px;
		margin: 0px;
		font-weight: inherit;
	}

	.es-icon.es-line {
		--icon-stroke: var(--bil-green);
		stroke-width: 0.5px;
		stroke: var(--icon-stroke);
		fill: var(--icon-stroke);
	}

	.fv-details__background {
		background: linear-gradient(to bottom, var(--primary), var(--primary) 72%, transparent 0);
	}

	.fv-details__header,
	.fv-details__main {
		position: relative;
		z-index: 0;
	}

	.fv-details__container {
		width: calc(100% - 16px);
		max-width: 1024px;
		margin: 0 auto;
	}

	.fv-details__wide-container {
		width: calc(100% - 16px);
		max-width: 1200px;
		margin: 0 auto;
	}

	.fv-details__logo {
		width: 128px;
		height: 128px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		padding: 16px;
		background-color: var(--bil-card-bg);
		overflow: hidden;
	}

	.fv-details__logo img {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}

	.fv-details__carousel {
		/* Half of logo height */
		padding-top: 64px;
		/* min-height: 400px; */
		display: grid;
		place-items: start;
	}

	.fv-details__carousel img {
		border-radius: 15px;
		width: auto;
		max-height: 60vh;
		object-fit: cover;
	}

	.fv-details__back-button {
		position: absolute;
		top: 1rem;
		left: 1rem;
		z-index: 1;
	}

	.fv-details__main {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: center;
		align-items: start;
		gap: 4rem;
		padding-top: 2rem;
		padding-bottom: 4rem;
		color: var(--bil-dark-green);
	}

	.fv-details__main>.fv-details__about {
		flex: 1 1 500px;
	}

	.fv-details__main>.fv-details__aside {
		flex: 1 1 350px;
		max-width: 450px;
	}

	@media (min-width: 1000px) {
		.fv-details__main>.fv-details__aside {
			position: sticky;
			top: 32px;
		}
	}

	.fv-details__about>section {
		margin-bottom: 50px;
	}

	.fv-details__about:empty {
		display: none;
	}

	.fv-details__description > div {
		color: inherit !important;
	}

	.fv-details__description p {
		padding: 0.25em 0px;
	}

	.fv-details__description :is(h1, h2, h3, h4, h5, h6):first-child {
		margin-top: 0px;
	}

	.fv-details__main :is(h1, h2, h3, h4, h5, h6) {
		color: var(--bil-dark-green);
	}

	.fv-details__services {
		display: flex;
		flex-direction: column;
		padding: 135px 0px;
		gap: 40px;
	}

	.fv-details__equipments {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
		gap: 0px;
	}

	.fv-details__equipments > div {
		padding: 5px 10px;
	}
</style>

{% endif %}
{% endblock %}

{% block script %}
{% endblock %}

{% macro nl2br(value) -%}
{{ value | e | replace("\n", "<br>") }}
{%- endmacro %}
