{% extends "templates/web.html" %}

{% block head_include %}{% endblock %}
{% block header %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block title %}Enregistrement confirmé{% endblock %}

{% block page_content %}
{% set status = frappe.form_dict.status %}
{% set is_done = status == "Completed" %}
{% set is_unknown = not status %}

<h1>
	{% if is_unknown %}
		Enregistrement confirmé
	{% elif is_done %}
		Merci de votre visite
	{% else %}
		Enregistrement en cours
	{% endif %}
</h1>
<div class="bil-box">
	{% set logo = "/images/icons/check.svg" if is_done else "/images/icons/clock.svg" %}
	<div class="d-flex align-items-start" style="gap: 1ch;">
		<img src="{{ logo | e }}" width="24" alt="" style="width: 24px;">
		<div>
			{% if is_unknown %}
			Enregistrement confirmé, vous pouvez fermer cette page.
			<hr>
			Pour débuter/cloturer un passage, accédez à nouveau à la page de connexion à l'aide du QR Code du lieu d'accueil.
			{% elif is_done %}
			Votre passage a été confirmé, vous pouvez fermer cette page.
			Merci de votre visite.
			{% else %}
			Votre entrée a été confirmée, vous pouvez fermer cette page.
			<hr>
			Pour cloturer votre passage, accédez à nouveau à la page de connexion à l'aide du QR Code du lieu d'accueil.
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}