<div class="transaction-list-item" id="{{ doc.name }}">
	<div class="row">
		<div class="col-12 col-sm-6" style='margin-top: -3px;'>
			<div>
				<span>{{ frappe.utils.format_datetime(doc.datetime[0]) }}</span>
				{% if doc.datetime|length > 1 %}
				<span>-{{ frappe.utils.format_datetime(doc.datetime[-1]) }}</span>
				{% endif %}
			</div>
			{% set indicator = "green" if doc.status == "Completed" else "orange" %}
			<span class="indicator-pill status-field {{ indicator }}">
				{{ _("Completed", context="Checkin Portal") if doc.status == "Completed" else _("Pending", context="Checkin Portal") }}
			</span>
			{% if doc.duration %}
			<div class="mt-2"><span class="label">{{ _("Duration") }}:</span>{{ frappe.utils.format_duration(doc.duration, hide_seconds=True) }}</div>
			{% endif %}
			{% if doc.accounted_duration %}
			<div><span class="label">{{ _("Accounted Duration") }}:</span>1 {{ _(doc.accounted_duration) }}</div>
			{% endif %}
		</div>
		<div class="col-12 col-sm-6 text-muted">
			<div><span class="label">{{ _("User") }}:</span> {{ doc.user }}</div>
			{% if doc.user != doc.customer %}
			<div class="small"><span class="label">{{ _("User") }}:</span>{{ doc.customer }}</div>
			{% endif %}
			<div><span class="label">{{ _("Client Venue") }}:</span>{{ doc.client_venue_name }}</div>
			<div><span class="label">{{ _("Provider Venue") }}:</span>{{ doc.provider_venue_name }}</div>
		</div>
	</div>
</div>

<style>
	.label {
		color: var(--text-color);
		font-size: var(--font-size-sm);
		margin-right: 1rem;
	}

	.transaction-list-item:first-child {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		border: None;
	}
</style>