<!-- Future functionality to implement.
The current main issues are:
- Determine the client venue
- Determine the provider venue (in case user is associated with several providers) -->

<!-- <div class="pull-right">
	<button class="btn btn-default btn-sm checkin-btn">
		{{ _("Checkin/Checkout") }}
	</button>
</div>

<script>
	frappe.ready(function() {
		document.getElementsByClassName("checkin-btn")[0].addEventListener("click", function(e) {
			e.preventDefault();
			frappe.confirm(__("Are you certain you want to checkin/checkout ?"), () => {
				//
			});
		})
	});
</script> -->