{% macro dl_item(label, value, icon, hide_label = true) %}
<div class="d-flex" title="{{ label }}">
	<dt style="flex-shrink: 0;">
		{%- if icon -%}
		<span style="margin-right: 0.5rem;">
			{{ smart_icon(icon) }}
		</span>
		{%- endif -%}
		<span {% if hide_label %}class="sr-only" {% endif %}>
			{{- label -}}&thinsp;:&puncsp;
		</span>
	</dt>
	<dd>{{ value }}</dd>
</div>
{% endmacro %}

{% macro smart_icon(icon, size="md", size_px = 18) %}
{%- if not (icon is string) -%}
<!-- invalid icon: {{ icon | e }} -->
{%- elif icon.endswith(".svg") -%}
<span style="display: inline-block; transform: translateY(-2px);">
	<img height="{{ size_px }}" width="{{ size_px }}" src="{{ icon }}" alt="" />
</span>
{%- elif (icon != (icon | lower)) %} {# If icon contains uppercase letters #}
<span style="display: inline-block; transform: translateY(-2px);">
	<img height="{{ size_px }}" width="{{ size_px }}" src="/images/icons/{{ icon | replace(' ', '-') | lower }}.svg" alt="" />
</span>
{%- else -%}
<svg class="es-icon es-line icon-{{ size }}" aria-hidden="true">
	<use href="#es-line-{{ icon }}"></use>
</svg>
{%- endif -%}
{% endmacro %}

{% macro li_item(label, icon) %}
<li class="d-flex" title="{{ label }}">
	{% if icon %}
	<span style="margin-right: 0.5rem;">
		{{ smart_icon(icon) }}
	</span>
	{% endif %}
	<span>
		{{- label -}}
	</span>
</li>
{% endmacro %}

{# https://jinja.palletsprojects.com/en/3.1.x/templates/#call #}
{% macro bil_card_with_logo(title, subtitle="", logo="") %}
<div class="bil-card" style="margin-top: 70px;">
	<div class="bil-card__header">
		{% if subtitle %}
		<div class="bil-small-title bil-small-title--noborder">{{ subtitle|e }}</div>
		{% endif %}
		<h3 class="m-0">{{ title|e }}</h3>
		{% if logo %}
		<img src="{{ logo|e }}" alt="" class="bil-card__logo" />
		{% endif %}
	</div>
	{{ caller() }}
</div>
{% endmacro %}