{% macro show_noscript_message() %}
<noscript>
	<div class="text-center my-5">
		<h4>{{ _("Javascript is disabled on your browser") }}</h4>
		<p class="text-muted">
			{{ _("You need to enable JavaScript for your app to work.") }}<br>{{ _("To enable it follow the instructions in the following link: {0}").format("<a href='https://enable-javascript.com/'>enable-javascript.com</a></p>") }}
	</div>
</noscript>
{% endmacro %}

{% macro fv_header(title="", subtitle="", link_href="", link_text="") %}
<section class="fv-intro">
	<div class="fv-intro-contents container">
		{% if title %}
		<h4 class="fv-intro--title">{{ title }}</h4>
		{% endif %}
		{% if subtitle %}
		<p class="fv-intro--subtitle">{{ subtitle }}</p>
		{% endif %}
		{% if link_text %}
		<a class="fv-intro--help-link" href="{{ link_href }}">
			<i class="fas fa-arrow-right"></i>
			{{ link_text }}
		</a>
		{% endif %}
	</div>
</section>
{% endmacro %}

{% macro social_login_card(venue, href="") %}
<div class="social-card" data-label="{{ venue.label }}">
	<div class="card social-login mb-3">
		{% if venue.is_here %}
		<span class="indicator-pill no-indicator-dot green">
			{{ "Vous êtes ici" }}
		</span>
		{% elif venue.is_last %}
		<span class="indicator-pill no-indicator-dot blue">
			{{ "Dernière connexion" }}
		</span>
		{% endif %}
		<a href="{{ href or venue.auth_url }}">
			<div class="row no-gutters social-login-row">
				<div class="col-sm-3 img-wrapper d-none d-sm-block">
					<img src="{{ venue.logo or 'assets/frappe/images/fallback-thumbnail.jpg' }}" class="img-fluid rounded-start" alt="{{ venue.label }}">
				</div>
				<div class="col-12 col-sm-9">
					<div class="row no-gutters align-items-center h-100">
						<div class="col-12 col-sm-4 card-info-col d-flex">
							<h3 class="card-title">{{ venue.label }}</h3>
							<div class="d-block d-sm-none ml-auto"><i class="fas fa-arrow-right"></i></div>
						</div>
						<div class="col-12 col-sm-6 card-info-col">
							{% if venue.address %}
								<div class="venue-info venue-address">
									<i class="fas fa-map-marker-alt"></i>
									{{ venue.address }}
								</div>
							{% endif %}
							{% if venue.email %}
								<div class="venue-info venue-email d-none d-sm-block">
									<i class="fas fa-envelope"></i>
									{{ venue.email }}
								</div>
							{% endif %}
							{% if venue.phone %}
								<div class="venue-info venue-phone d-none d-sm-block">
									<i class="fas fa-phone"></i>
									{{ venue.phone }}
								</div>
							{% endif %}
						</div>
						{% if venue.auth_url %}
						<div class="d-none d-sm-flex col-sm-2 card-info-col badge-link-wrapper">
							<div class="badge-link-widget">
								<div class="badge-link-hover">
									<img src="/images/fleur.svg" alt="">
									<div class="badge-link-text" style="font-size:11px;padding-top:8px;">Me connecter avec…</div>
								</div>
								<div class="badge-link-arrow"><i class="fas fa-arrow-right"></i></div>
							</div>
						</div>
						{% else %}
						<div class="d-none d-sm-block col-sm-2 card-info-col">
							<i class="fas fa-arrow-right"></i>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
{% endmacro %}

{% macro fv_venue_list(venues) %}
<section class="fv-venues">
	<div class="fv-intro--image d-none d-md-block">
		<img src="/assets/venues_federation/images/login_image.png">
	</div>

	<div class="fv-intro--pin d-none d-lg-flex">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 324">
			<path fill="var(--primary, #efce3e)" d="M44 206c-2-2-35-40-35-82a115 115 0 0 1 232 0c0 45-34 81-35 82l-81 103-81-103Z"/>
			<path fill="#fff" d="M125 18c59 0 106 48 106 106 0 42-32 76-32 76l-74 94-74-94s-32-37-32-76C19 66 66 18 125 18Zm0-18C56 0 0 56 0 124c0 43 33 83 37 88l73 93 15 19 15-19 73-93c5-6 37-43 37-88C250 56 194 0 125 0Z"/>
			<path fill="#fff" d="M93 122c0-18 14-32 32-32s32 14 32 32c0 13-10 23-10 23l-22 29-23-29s-9-11-9-23Z"/>
		</svg>
	</div>

	<div class="container social-logins-container">
		<div class="social-logins-inline-container">
			<div class="social-logins-search">
				<div class="input-group search-bar">
					<input
						id="social-login-search"
						type="text"
						placeholder="Rechercher un lieu..."
						aria-haspopup="true"
					>
					<span class="search-icon">
						<svg class="icon icon-sm"><use href="#icon-search"></use></svg>
					</span>
				</div>
			</div>

			<div class="social-logins" id="social-login-cards">
			{% for venue in venues %}
				{{ caller(venue) }}
			{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endmacro %}