{%- extends "templates/web.html" -%}
{%- import "templates/includes/federated.jinja" as macros -%}

{%- block head_include -%}{%- endblock -%}
{%- block header -%}{%- endblock -%}
{%- block breadcrumbs -%}{%- endblock -%}
{%- block title -%}
	Bienvenue chez {{ here.label }}
{%- endblock -%}

{%- block page_content -%}
{{ macros.show_noscript_message() }}

{{ macros.fv_header(
	title="Bienvenue chez " ~ here.label ~ ",",
	subtitle="Sélectionnez le lieu avec lequel vous souhaitez décompter vos heures.",
	link_text="Comment ça marche ?",
	link_href="/Apropos",
) }}

{# `social_logins` is provided by the page context #}
{%- call(venue) macros.fv_venue_list(social_logins) -%}
	{{ macros.social_login_card(venue, venue.auth_url) }}
{%- endcall -%}
{%- endblock -%}

{%- block script -%}
<!-- <script type="text/javascript" src="/assets/js/control.min.js"></script> -->
<script type="text/javascript" src="/assets/frappe/js/frappe/form/formatters.js"></script>
<script>{% include "templates/includes/login/federated_login.js" %}</script>
{%- endblock -%}
