:root {
	--text-color: #2F90A0;

	--bil-yellow: #EFCE3E;
	--bil-green: #2F90A0;
	--bil-dark-green: #1A555F;
	--bil-grey-background: #FAF9F9;
	--bil-grey-border: #E9E9EB;
	--bil-card-bg: #FFFFFF;

	--font-stack: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif !important;
}


.bil-box {
	border: 1px solid var(--bil-grey-border);
	background-color: var(--bil-grey-background);
	border-radius: 10px;
	padding: 15px 10px;
}

.bil-card {
	padding: 60px 35px 40px 35px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	flex-shrink: 0;
	border-radius: 20px;
	background: var(--bil-card-bg);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
	position: relative;

	li {
		padding: 0.25em 0px;
	}

	&--small {
		border-radius: 10px;
		padding: 30px;
		gap: 30px;
	}

	&__logo {
		height: 140px;
		width: auto;
		position: absolute;
		top: 0;
		right: 15px;
		transform: translateY(-50%);
	}

	&__header {
		padding-bottom: 20px;
		border-bottom: 1px solid var(--bil-grey-border);
	}
}

.bil-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
}

.bil-cards .bil-card {
	flex: 1 0 330px;
	max-width: 400px;
}

.bil-card h3 {
	font-size: 25px;
	font-weight: 500;
	color: var(--bil-dark-green);
}

.bil-tag {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	gap: 10px;
	border-radius: 15px;
	background: var(--bil-yellow);
	word-break: break-word;
}

.bil-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.bil-small-title {
	margin: 0;
	font-size: 0.8em;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
	border-bottom: 1px solid var(--bil-grey-border);
	margin-bottom: 20px;
}

.bil-small-title.bil-small-title--noborder {
	border-bottom: none;
	margin-bottom: 0.5rem;
}