:root {
	--text-color: #2F90A0;
}

body {
	background-color: #fff !important;
}

h1 {
	font-size: 35px;
	color: var(--bil-dark-green);
}

// Typographie
h2 {
	font-size: 34px;
	color: var(--bil-dark-green);
}

.label {
	font-size: 1rem;
	font-weight: 600;
}

// Navbar
.navbar {
	box-shadow: none;
}

.navbar-light {
	border-bottom: none;
	background: var(--primary);
	color: var(--text-color);

	.navbar-nav {
		.nav-link {
			color: #2F90A0;
			&:hover {
				&::after {
					content: "";
					display: block;
					height: 1px;
					border: 1px solid #fafafa;
				}
				color: #fafafa !important;
			}
			&:focus {
				color: #fafafa !important;
			}
		}
	}
}

.navbar-brand img {
	display: inline-block;
	max-width: 200px;
	max-height: 150px;
}

// Sidebar
.sidebar-column {
	box-shadow: none;
}

// Body
// div[id="page-federated_login"] {
// 	background: linear-gradient(
// 		to top,
// 		#fafafa 0%,
// 		#fafafa 40%,
// 		var(--primary) 40%,
// 		var(--primary) 100%
// 	);
// }


.fv-intro {
	padding-bottom: 2rem;

	.fv-intro--title {
		font-size: 2.5rem;
		font-weight: 600;
		color: var(--text-color);
		text-shadow: 0px 0px 1px white;
		margin-bottom: 0.5em;
		margin-top: 0px;
	}

	.fv-intro--subtitle {
		font-size: 1.8rem;
		color: white;
		text-shadow: 0px 0px 1px black;
		max-width: 600px;
		line-height: 1.2;
		text-wrap: balance;
	}

	.fv-intro--help-link {
		display: block;
		margin-top: 2rem;
		font-size: 20px;
		color: var(--text-color);
		text-decoration: none;

		i {
			margin-right: 1rem;
			font-size: 15px;
		}
	}
}

.social-logins-container {
	display: flex;
	justify-content: center;

	.social-logins-inline-container {
		max-width: 900px;
		width: 100%;
	}

	.social-card,
	#navbar-search {
		border: none;
		box-shadow: var(--shadow-sm);
		max-width: 900px;

		.social-login {
			border: none;
			border-radius: 0;
			background-color: #fff;
		}
	}

	a:hover {
		color: #1A555F;
		text-decoration: none;
	}

	.social-login-row {
		min-height: 100px;
		padding: 5px;
	}

	.card-info-col {
		color: #1A555F;
		.card-title {
			margin: 0;
			color: var(--text-color);
		}

		.venue-info {
			font-size: 1rem;
			i {
				margin-right: 1rem;
				color: var(--primary);
			}
		}
	}

	.img-wrapper {
		padding: 0 1.5em;
		margin: auto;
	}

	.social-card:hover {
		box-shadow: var(--shadow-lg);
	}
}

// Search
.social-logins-search {
	margin-bottom: 10px;

	.search-bar {
		flex: 1;
		height: 50px;

		svg {
			stroke: #1A555F;
		}

		.search-icon {
			position: absolute;
			margin-left: 12px;
			display: flex;
			align-items: center;
			height: 100%;
		}

		input {
			border: 1px solid #fafafa;
			width: 300px;
			text-indent: 50px;
			font-size: 1.2rem;
			color: #1A555F;
			font-weight: 400;
		}
	}
}

.badge-link-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.badge-link-widget {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #EFCE3E;
	border-radius: 99px;
	text-align: center;

	.badge-link-hover {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	i {
		color: var(--text-color);
	}

	.badge-link-arrow {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		display: grid;
		place-items: center;
		transform: rotate(-45deg);
	}

	.badge-link-text {
		position: absolute;
		margin: auto;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: 60%;
		width: 60%;
		font-size: 13px;
		line-height: 1.4;
		opacity: 0;
		color: var(--text-color);
	}

	.badge-link-hover > img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		padding: 4px;
	}

	// .badge-link-arrow {
	// 	transition: opacity 0.4s ease;
	// }
	// .badge-link-hover {
	// 	transition: opacity 0.4s ease;
	// }
	// .badge-link-text {
	// 	transition: transform 0.4s ease;
	// }

	.card:hover & {
		width: 102px;
		height: 102px;

		.badge-link-arrow {
			opacity: 0;
		}
		.badge-link-hover {
			opacity: 1;
		}
		.badge-link-text {
			opacity: 1;
		}
	}
}

.social-login-row .img-wrapper img {
	height: 100px;
	object-fit: contain;
	width: 200px;
}

.social-login > .indicator-pill {
	margin: 4px;
	width: max-content;
	pointer-events: none;

	@media (min-width: 768px) {
		position: absolute;
		z-index: 1;
	}
}

// Portal

.sidebar-item {
	// width: 180px;
	a.active {
		color: #1A555F;
		border: 1px solid #1A555F;
		padding: 5px;
	}
}

// Footer
.web-footer {
	background-color: #fafafa;
}

.navbar {
	z-index: 4;
}

.fv-intro-contents {
	z-index: 3;
	position: relative;
}

.fv-venues {
	position: relative;
	z-index: 0;
}

.fv-intro--pin {
	position: absolute;
	top: -150px;
	left: 0%;
	right: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;

	svg {
		height: 250px;
	}
}

.fv-intro--image {
	position: absolute;
	right: 0%;
	bottom: calc(100% - 130px);
	z-index: -1;
	pointer-events: none;
}

// Background color
.navbar, .fv-intro {
	background-color: var(--primary);
}
.fv-venues {
	background:
	linear-gradient(
		to bottom,
		var(--primary) 130px,
		transparent 0
	);
}
